*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{
background:#03071c;
color:white;
}

.layout{
display:flex;
height:100vh;
}

.sidebar{

width:300px;

background:
linear-gradient(
180deg,
#04091f,
#02051a
);

padding:30px;

display:flex;

flex-direction:column;

justify-content:space-between;

border-right:1px solid #203060;

}

.logo{

display:flex;

gap:16px;

align-items:center;

margin-bottom:40px;

}

.hex{

width:54px;

height:54px;

background:
linear-gradient(
135deg,
#764cff,
#1c8cff
);

clip-path:
polygon(
25% 5%,
75% 5%,
100% 50%,
75% 95%,
25% 95%,
0 50%
);

}

.logo h2{
font-size:20px;
}

.logo span{
opacity:.8;
}

nav{

display:flex;

flex-direction:column;

gap:18px;

}

nav a{

padding:18px;

border-radius:18px;

cursor:pointer;

transition:.25s;

}

.active,
nav a:hover{

background:

linear-gradient(
90deg,
#282e77,
#151f50
);

}

.bottom{

display:flex;

flex-direction:column;

gap:16px;

}

.toggle{

display:flex;

justify-content:space-between;

}


main{

flex:1;

padding:40px;

}

header{

display:flex;

justify-content:space-between;

margin-bottom:40px;

}

h1{

font-size:60px;

}

header p{

opacity:.8;

}

.top{

display:flex;

gap:20px;

}

input{

background:#08132f;

border:none;

border-radius:18px;

padding:20px;

width:320px;

color:white;

}

.top button{

background:#08132f;

border:none;

width:70px;

height:70px;

border-radius:50%;

color:white;

}

.grid{

display:grid;

grid-template-columns:

repeat(
3,
1fr
);

gap:26px;

}

.card{

padding:38px;

min-height:320px;

border-radius:28px;

position:relative;

overflow:hidden;

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(20px);

}

.card::before{

content:"";

position:absolute;

inset:0;

opacity:.45;

}

.purple::before{

background:
radial-gradient(
circle,
#7d52ff,
transparent
);

}

.blue::before{

background:
radial-gradient(
circle,
#008cff,
transparent
);

}

.green::before{

background:
radial-gradient(
circle,
#00ff99,
transparent
);

}

.pink::before{

background:
radial-gradient(
circle,
#ff45ba,
transparent
);

}

.orange::before{

background:
radial-gradient(
circle,
#ff9a00,
transparent
);

}

.card h2{

position:relative;

font-size:42px;

margin-bottom:20px;

}

.card p{

position:relative;

font-size:20px;

line-height:1.8;

}

.card button{

position:absolute;

bottom:30px;

left:30px;

padding:18px 28px;

border:none;

border-radius:16px;

background:white;

font-weight:700;

}

footer{

margin-top:40px;

opacity:.6;

}

@media(max-width:1100px){

.layout{

flex-direction:column;

}

.sidebar{

width:100%;

}

.grid{

grid-template-columns:1fr;

}

h1{

font-size:42px;

}

}
