*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{

background:
radial-gradient(circle at top,#06174a,#010513);

color:white;

}

.app{

display:flex;

height:100vh;

border-radius:30px;

overflow:hidden;

}


aside{

width:320px;

background:

linear-gradient(
180deg,
#01071c,
#02071b
);

padding:40px;

border-right:

1px solid rgba(255,255,255,.06);

}


.brand{

display:flex;

gap:18px;

margin-bottom:60px;

}


.logo{

width:64px;

height:64px;

background:

linear-gradient(
135deg,
#7d5eff,
#3498ff
);

clip-path:
polygon(
25% 0,
75% 0,
100% 50%,
75% 100%,
25% 100%,
0 50%
);

}


.brand h3{

font-size:32px;

}


nav{

display:flex;

flex-direction:column;

gap:18px;

}


.item{

padding:22px;

font-size:22px;

border-radius:20px;

opacity:.9;

}


.active{

background:

linear-gradient(
90deg,
#2b2f88,
#151f59
);

box-shadow:

0 0 50px #513dff55;

}


.foot{

position:absolute;

bottom:40px;

display:flex;

flex-direction:column;

gap:24px;

}


.switch{

width:50px;

height:28px;

background:#7157ff;

border-radius:40px;

}


main{

flex:1;

padding:60px;

}


header{

display:flex;

justify-content:space-between;

}


h1{

font-size:70px;

}


header p{

margin-top:8px;

opacity:.7;

font-size:22px;

}


.tools{

display:flex;

gap:20px;

}


input{

width:420px;

height:76px;

border:none;

border-radius:22px;

background:#09142f;

padding:30px;

font-size:22px;

color:white;

}


.avatar{

width:76px;

height:76px;

background:#09142f;

border-radius:50%;

display:grid;

place-items:center;

font-size:28px;

}


.cards{

display:grid;

grid-template-columns:

repeat(3,1fr);

gap:26px;

margin-top:50px;

}


.card{

height:380px;

padding:40px;

border-radius:34px;

position:relative;

overflow:hidden;

background:

rgba(10,18,52,.8);

backdrop-filter:

blur(20px);

border:

1px solid rgba(255,255,255,.07);

}


.card::before{

content:"";

position:absolute;

inset:-50%;

opacity:.35;

}


.purple::before{
background:
radial-gradient(#7c50ff,transparent);
}

.blue::before{
background:
radial-gradient(#0088ff,transparent);
}

.green::before{
background:
radial-gradient(#00ff99,transparent);
}

.pink::before{
background:
radial-gradient(#ff3ca7,transparent);
}

.orange::before{
background:
radial-gradient(#ff9f00,transparent);
}

.icon{

font-size:60px;

position:relative;

}


.card h2{

font-size:52px;

margin-top:40px;

position:relative;

}


.card p{

position:relative;

margin-top:20px;

font-size:22px;

line-height:1.8;

max-width:420px;

}


button{

position:absolute;

bottom:40px;

left:40px;

padding:20px 34px;

font-size:22px;

border:none;

border-radius:18px;

background:white;

font-weight:700;

}

footer{

margin-top:35px;

opacity:.5;

}

@media(max-width:1200px){

.cards{
grid-template-columns:1fr;
}

aside{
display:none;
}

}
